<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base:: layout(~{:: title}, ~{:: section} )}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	<div class="container mt-5">
 		<div class="row">
 			<div class="col-md-6 offset-md-3">
 				<div class="card-header text-center">
 					<h2>Login Form</h2>
 					<th:block th:if="${session.error}">
 						<p class="fs-5 text-center text-success">[[${session.msg}]]</p>
 						<th:block th:text="${@userServiceImp.removeSessionMessage()}"></th:block>
 					</th:block>
 				</div>
 				<div class="card-body">
						<form action="userLogin" method="post">
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Email </label> 
								<input type="text" class="form-control" name="username"
									id="exampleInputEmail1" aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">Password</label>
								<input type="password" class="form-control" name="password"
									id="exampleInputPassword1">
							</div>
							<button type="submit" class="btn btn-primary col-md-12">Login</button>
						</form>
					</div>
					<div class="card-footer text-center">
						<p class="fs-6">Don't have an account <a href="register">register</a></p>
					</div> 
 			</div>
 		</div>
 	</div>
</section>
	
</body>
</html>